.content-bg {
    background: white !important;
}
h1{
    text-align: center  !important;
}
.col-md-4 .house.link {
    display: none !important;
}

.col-md-4 .house.link:last-child {
    display: block !important;
}
.content {
    min-height: 90vh !important;
} 